@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #a5c7cf;
  --text-color: black;
  --border-color: #000;
  font-family: "DotGothic16", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

.header {
  background-color: var(--accent-color);

  .header__nav {
    padding: 0 15px;
  }

  @media (min-width: 600px) {
    .header__nav {
      display: flex;
    }
  }

  .header__logo,
  .header__title {
    font-size: 3.5rem;
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .header__title {
    color: var(--accent-color);
  }

  .header__banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/stickerz/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__menu {
    display: flex;
    flex-direction: column;

    .menu__item {
      color: var(--text-color);
      text-decoration: none;
    }
    .menu__item:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: 600px) {
    .header__menu {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex: 1;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: var(--accent-color);
}
